# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# Backend content ignored
/backend/node_modules
/backend/.env

# Frontend content ignored
.env
.vscode
.idea

# Terraform
terraform/**/*.tfvars
terraform/**/.terraform/
terraform/**/.terraform.lock.hcl
terraform/**/tfplan
terraform/**/*.pem
terraform/**/terraform_outputs.json
 

# Terraform scenario 1 free tier
terraform/scenario1-free-tier/terraform.tfvars